.component {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.pill {
  align-items: center;
  border-radius: 14px;
  display: inline;
  font-size: 14px;
  margin: 0.25em;
  padding: 0.5em;
  width: auto;

  input {
    all: unset;
    box-sizing: border-box;
    display: inline;
    font-size: inherit;
    width: min-content;
  }

  i {
    font-size: 12px;
    margin-left: 0.5em;

    &:hover {
      cursor: pointer;
    }
  }
}

.autocomplete {
  display: flex;
  height: 0;
  width: 100%;

  ul {
    align-self: flex-start;
    background-color: rgb(var(--global-secondary));
    border: 1px solid rgba(var(--global-primary), 0.2);
    border-radius: 7px;
    color: rgb(var(--global-primary));
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 0.5em;
    position: absolute;
    width: 297px;
    z-index: 20;

    li {
      align-items: center;
      border-bottom: 1px solid rgba(var(--global-primary), 0.2);
      display: flex;
      font-size: 14px;
      padding: 0.5em;
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }

    li:last-of-type {
      border-bottom: 0;
    }
  }
}

.addInput {
  color: rgba(var(--global-primary), 0.5);
  justify-content: center;
}
